As per Instructions : 

1)For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

2)Start by creating a new Notebook for this assignment.Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown in Assingment.

In [1]:
#importing required libs
import numpy as np
import pandas as pd
import urllib

# Fetching neighborhood information from Wikipedia

In [2]:
# requesting the URL with the information and reading all the content into a variable
file = urllib.request.urlopen("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
content = file.read()

In [3]:
# converting bytes format to UTF-8 format

myContent = content.decode("UTF-8")

In [7]:
# data formatting without Beautiful Soup

mytable = myContent[myContent.find("<table"):myContent.find("</table>")+8]

mydata = pd.read_html(myContent, header = 0)[0]

# assign the Borough name to those neighbourhoods with no assigned name. ignore cells with a borough that is Not assigned.
mydata = mydata[mydata.Borough != "Not assigned"]
mydata.Neighbourhood[mydata.Neighbourhood == "Not assigned"] = mydata.Borough[mydata.Neighbourhood == "Not assigned"]
mydata.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A         Etobicoke  Islington Avenue
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [11]:
# reindexing
mydata_reset = mydata.reset_index()
mydata_reset.head(10)

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M6A        North York  Lawrence Heights
4      6      M6A        North York    Lawrence Manor
5      7      M7A  Downtown Toronto      Queen's Park
6      9      M9A         Etobicoke  Islington Avenue
7     10      M1B       Scarborough             Rouge
8     11      M1B       Scarborough           Malvern
9     13      M3B        North York   Don Mills North

In [13]:
#dropping old index
mydata_reindex = mydata_reset.drop(columns=['index'])
mydata_reindex.head(10)
#mydata_reindex

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor
5      M7A  Downtown Toronto      Queen's Park
6      M9A         Etobicoke  Islington Avenue
7      M1B       Scarborough             Rouge
8      M1B       Scarborough           Malvern
9      M3B        North York   Don Mills North